.ask-container {
  background: url("../img/ask-bg.png") center no-repeat;
  background-clip: border-box;
  background-size: cover;
  min-height: 931px;
  height: calc((100vw * 0.739385) - 79px);
  display: flex;
  justify-content: center;
  padding-top: 79px;
  margin-top: 57px;
}

.ask-content {
  margin: 0 51px 0 110px;
  width: 560px;
}

.ask-photo-container,
.ask-content {
  flex: 0 0 auto;
}

.ask-photo {
  mask: url("../img/mask-photo.png") center center / cover;
}

.asks-list {
  margin-top: 32px;
  width: 560px;
  padding: 0;
  counter-reset: wslist1;
  list-style: none;

  li {
    display: flex;
    flex-wrap: wrap;
    min-height: 71px;
    border-bottom: 1px solid rgba(72, 72, 72, 0.2);
    margin-bottom: 24px;

    .ask {
      width: 400px;
      margin: 17px 80px 26px 0;
      line-height: 1.4em;
    }

    .ask-list-button {
      width: 15px;
      height: 8px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: rgba(0, 0, 0, 0);
      outline: none;
      border: none;
      margin-top: 25px;
    }

    .ask-list-button-close {
      background-image: url("../img/vector-close.svg");
    }

    .ask-list-button-show {
      background-image: url("../img/vector-close.svg");
      transform: rotate(180deg)
    }

    .answer {
      color: rgba(72, 72, 72, 0.74);
      font-size: 15px;
      margin: 0 0 30px;
      line-height: 1.4em;
    }
  }

  li::before {
    color: $yellow-color;
    font-size: 28px;
    content: counter(wslist1);
    counter-increment: wslist1;
    display: inline-block;
    height: 48px;
    width: 13px;
    margin: 7px 16px 0 0;
  }
}

