.asks {
  background: url("../img/ask-bg.png") center no-repeat;
  background-clip: border-box;
  background-size: cover;
  min-height: 931px;
  height: calc((100vw * 0.739385) - 79px);
  padding-top: 79px;
  margin-top: 57px;
}

.asks__content {
  margin: 0 51px 0 110px;
  width: 560px;
}

.ask-photo__container,
.ask__content {
  flex: 0 0 auto;
}

.ask-photo {
  mask: url("../img/mask-photo.png") center center / cover;
}

.asks__list {
  margin-top: 32px;
  width: 560px;
  padding: 0;

  li {
    min-height: 71px;
    border-bottom: 1px solid rgba(72, 72, 72, 0.2);
    margin-bottom: 24px;

    .ask {
      width: 400px;
      margin: 17px 80px 26px 0;
      line-height: 150%;
    }

    .button__ask {
      width: 15px;
      height: 8px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: rgba(0, 0, 0, 0);
      outline: none;
      border: none;
      margin-top: 25px;
    }

    .button__ask_close {
      background-image: url("../img/vector-close.svg");
    }

    .button__ask_show {
      background-image: url("../img/vector-close.svg");
      transform: rotate(180deg);
    }

    .answer {
      margin-bottom: 30px;
      line-height: 140%;
      opacity: 0.74;
    }
  }

  li::before {
    color: $yellow-color;
    font-size: 28px;
    font-weight: bold;
    content: counter(wslist1);
    counter-increment: wslist1;
    display: inline-block;
    height: 48px;
    width: 13px;
    margin: 7px 16px 0 0;
  }
}

