.conditions {
  background-image: url("../img/conditions-bg.png"), url("../img/stamp.png");
  background-repeat: no-repeat;
  background-size: cover, auto;
  background-position: center, right center;
  background-clip: border-box;
  min-height: 865px;
  height: calc((100vw * 0.689604) - 77px);
  padding: 77px 0 0 12px;
}

.conditions__photo {
  width: 581px;
  flex-grow: 0;
  background: url("../img/conditions-photo.jpg") no-repeat center center;
  background-size: contain;
  mask: url("../img/conditions-photo-mask.png") center center / contain;
  height: 707px;
  margin-right: 105px;
}

.conditions__container {
  width: 552px;
  flex-grow: 0;
  height: 707px;
  padding-top: 31px;
}

.conditions__description {
  margin: 24px 0 35px;
  opacity: 0.87;
  line-height: 170%;
  width: 490px;
}

.conditions__description_strong {
  font-weight: 500;
  margin-bottom: 25px;
}

.list {
  padding: 0;
  list-style: none;
  counter-reset: wslist1;
}

.conditions__list {
  margin-bottom: 55px;
  display: block;

  li {
    position: relative;
    padding: 5px 0 25px 42px;
    border-left: 1px dashed rgba(72, 72, 72, 0.2);
    height: 42px;
    opacity: 0.87;
    line-height: 140%;
  }

  li::after {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
    background: $white-color;
    border-radius: 50%;
    color: $orange-color;
    content: counter(wslist1);
    counter-increment: wslist1;
    display: inline-block;
    height: 36px;
    left: -19px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 36px;
    opacity: 1;
    font-weight: 500;
    font-size: 17px;
  }

  li:last-child {
    padding-bottom: 0;
    border: 0;
  }
}

.conditions__i {
  border-left: 4px solid $orange-color;
  padding-left: 16px;
  line-height: 140%;

  i {
    font-style: normal;
    opacity: 0.5;
  }
}
