.conditions-container {
  display: flex;
  background-image: url("../img/conditions-bg.png"), url("../img/stamp.png");
  background-repeat: no-repeat;
  background-size: cover, auto;
  background-position: center, right center;
  background-clip: border-box;
  min-height: 865px;
  height: calc((100vw * 0.689604) - 77px);
  padding: 77px 0 0 12px;
}

.conditions-photo {
  width: 581px;
  flex-grow: 0;
  background: url("../img/conditions-photo.jpg") no-repeat center center;
  background-size: contain;
  mask: url("../img/conditions-photo-mask.png") center center / contain;
  height: 707px;
  margin-right: 105px;
}

.conditions-container-flex {
  width: 552px;
  flex-grow: 0;
  color: $black-color;
  height: 707px;
  padding-top: 31px;
}

.conditions-description {
  margin: 24px 0 40px 0;
  font-size: 15px;
  line-height: 1.7;
}

.conditions-list {
  margin-top: 40px;
  padding: 0;
  margin-bottom: 40px;
  display: block;
  counter-reset: wslist1;
  list-style: none;
}

.conditions-list > li {
  position: relative;
  padding-left: 42px;
  padding-bottom: 39px;
  border-left: 1px dashed rgba(72, 72, 72, 0.2);
  height: 42px;
}

ol.conditions-list > li::after {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  background: $white-color;
  border-radius: 50%;
  color: $orange-color;
  content: counter(wslist1);
  counter-increment: wslist1;
  display: inline-block;
  height: 36px;
  left: -19px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 36px;
}

ol.conditions-list > li:last-child {
  padding-bottom: 0;
  border: 0;
}

.conditions-i {
  border-left: 4px solid $orange-color;
  padding-left: 16px;
  font-size: 15px;
}

.conditions-i > i {
  font-style: normal;
  opacity: 0.5;
}
