.dialog {
  display: none;
  position: fixed;
  min-width: 1366px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(235, 235, 235, 0.95);
}

.dialog-request-call:target,
.dialog-accepted:target {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-container {
  width: 400px;
  height: 457px;
  background-color: $white-color;
  border-radius: 8px;
  padding: 32px 32px 32px 48px;
}

.close {
  margin-left: 382px;
}

.dialog-caption {
  margin-top: 0;
}

.dialog-information {
  width: 360px;
  margin-bottom: 37px;
  font-size: 15px;
}

.input__text.dialog-text {
  width: 325px;
  margin-bottom: 8px;
}

.input__submit.dialog-submit {
  width: 264px;
  margin: 16px 0 16px 60px;
}

.consent {
  width: 264px;
  margin-left: 60px;
  font-size: 13px;
  position: relative;
  padding-left: 24px;
}

.check {
  display: none;
}

.label-check {
  display: block;
}

.label-check::after {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 2px solid $orange-color;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.check:checked + .label-check::after {
  content: "\2713";
  line-height: 12px;
  text-align: center;
  font-size: 12px;
  color: $orange-color;
}

.ok-icon {
  margin: 65px 0 30px calc((100% - 90px) / 2);
}

.accepted-caption {
  margin-left: 75px;
}

.dialog-information.accepted-information {
  margin-left: 50px;
}

.input__submit.accepted-submit {
  width: 264px;
  height: 42px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  padding-top: 17px;
  margin-left: 60px;
}
