.flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.flex_align_center {
  align-items: center;
}

.flex_align_end {
  align-items: flex-end;
}

.flex_justify_end {
  justify-content: flex-end;
}

.flex_justify_center {
  justify-content: center;
}

.flex__item_position_left {
  text-align: left;
}

.flex__item_position_right {
  text-align: right;
}

.flex_wrap {
  flex-wrap: wrap;
}
