.h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: $blue-color;
  margin: 0;
}

.h3 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 28px;
  color: $blue-color;
}
