.heading {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  color: $blue-color;
}

.heading__h2 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
}

.heading__h3 {
  font-size: 28px;
}
