.information {
  text-align: center;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  background: url("../img/watercolor-bg.png") center no-repeat;
  background-size: cover;
  height: calc(100vw * 0.559297);
  min-height: 764px;
  margin-top: -13px;
}

.information__caption {
  margin-top: -13px;
}

.information__text {
  margin: 24px auto auto auto;
  width: 52%;
  line-height: 29px;
}

.video {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.video__img {
  mask: url("../img/mask-video.png") top left / cover;
  margin: 48px auto 68px auto;
  width: 870px;
}

.button__play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 96px;
  height: 96px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../img/play-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.button__play:hover {
  background-image: url("../img/play-button-hover.svg");
}

.button__play:active {
  background-image: url("../img/play-button-active.svg");
}
