.life-israel {
  background: url("../img/life-bg.png") center no-repeat;
  background-size: cover;
  height: calc(100vw * 0.663982);
  min-height: 907px;
  text-align: center;
}

.life-israel__container {
  width: 1366px;
  margin: auto;
}

.life-israel__description {
  width: 720px;
  margin: 28px auto 46px;
  line-height: 170%;
  opacity: 0.87;
}

.life-israel__content {
  margin-left: 108px;
}

.paragraph__caption {
  margin-left: 35px;
  font-size: 21px;
  font-family: "Raleway", "Arial", sans-serif;
  text-align: left;
  color: $white-color;
  margin-bottom: 33px;
}

.paragraphs {
  width: 655px;

  .paragraph {
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;

    .paragraph__caption {
      margin-left: 25px;
    }
  }
}

.paragraph__first {
  background-image: url("../img/1img.png");
  width: 482px;
  height: 732px;
  margin: -70px 15px 0 0;
  flex-grow: 0;
}

.paragraph__second {
  background-image: url("../img/2img.png");
  width: 211px;
  height: 318px;
  margin: 0 30px 30px 0;
  flex-grow: 0;
}

.paragraph__third {
  background-image: url("../img/3img.png");
  width: 411px;
  height: 318px;
  flex-grow: 0;
}

.paragraph__fours {
  background-image: url("../img/4img.png");
  width: 411px;
  height: 318px;
  margin-right: 30px;
  flex-grow: 0;
}

.paragraph__fifth {
  background-image: url("../img/5img.png");
  width: 214px;
  height: 318px;
  flex-grow: 0;
}
