.life-israel-container {
  background: url("../img/life-bg.png") center no-repeat;
  background-size: cover;
  height: calc(100vw * 0.663982);
  min-height: 907px;
  text-align: center;
}

.life-israel-description {
  width: 720px;
  font-size: 17px;
  margin: 28px auto 46px;
  line-height: 1.7;
}

.life-israel-content {
  display: flex;
  margin-left: 108px;
}

.life-grid {
  display: flex;
  flex-wrap: wrap;
  width: 655px;
}

.life-grid > div {
  background-repeat: no-repeat;
  background-size: contain;
  text-align: left;
  display: flex;
  align-items: flex-end;
}

.life-israel-content > div > h3 {
  margin-left: 35px;
}

.life-grid  > div > h3{
  margin-left: 25px;
}

.life-grid  > div > h3,
.life-israel-content > div > h3 {
  font-size: 21px;
  font-family: "Raleway", "Arial", sans-serif;
  text-align: left;
  color: $white-color;
  margin-bottom: 33px;
}

.life-israel-first {
  background-image: url("../img/1img.png");
  width: 482px;
  height: 732px;
  margin: -70px 15px 0 0;
  flex-grow: 0;
  display: flex;
  align-items: flex-end;
}

.life-israel-second {
  background-image: url("../img/2img.png");
  width: 211px;
  height: 318px;
  margin: 0 30px 30px 0;
  flex-grow: 0;
}

.life-israel-third {
  background-image: url("../img/3img.png");
  width: 411px;
  height: 318px;
  flex-grow: 0;
}

.life-israel-fours {
  background-image: url("../img/4img.png");
  width: 411px;
  height: 318px;
  margin-right: 30px;
  flex-grow: 0;
}

.life-israel-fifth {
  background-image: url("../img/5img.png");
  width: 214px;
  height: 318px;
  flex-grow: 0;
}
