.masaisrael-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 95px;
  background: url("../img/masaisrael-bg.png") center no-repeat;
  background-size: cover;
  height: calc(100vw * 0.426793);
  min-height: 583px
}

.masaisrael-content {
  margin: 125px 167px 0 0;
  width: 403px;
  height: 160px;
  color: $white-color;
}

.masaisrael-description {
  line-height: 1.7;
  font-size: 17px;
  margin: 24px 0 46px 0;
}
