.programs {
  background: url("../img/bg-program.png") center no-repeat;
  background-size: cover;
  background-clip: border-box;
  min-height: 534px;
  height: calc((100vw * 0.431185) - 55px);
  padding-top: 55px;
}

.programs__container {
  padding-top: 48px;
  width: 945px;
  margin: auto;
}

.programs__list {
  font-size: 15px;
  list-style: none;
  width: 230px;
  padding: 0;
  margin: 68px 0 0 0;
}

.program__icon {
  background-position: center;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  flex: 1;
}

.program:target {
  display: block;
}

.button__program {
  height: 70px;

  .program__icon_culture {
    background-image: url("../img/culture-default.svg");
  }

  .program__icon_study {
    background-image: url("../img/study-default.svg");
  }

  .program__icon_business {
    background-image: url("../img/busines-default.svg");
  }

  .program__icon_volonteur {
    background-image: url("../img/voloneur-default.svg");
  }

  .program__icon_religion {
    background-image: url("../img/religion-default.svg");
  }
}

.button__program:hover {
  color: $orange-color;
  opacity: 1;

  .program__icon_culture {
    background-image: url("../img/culture-hover.svg");
  }

  .program__icon_business {
    background-image: url("../img/busines-hover.svg");
  }

  .program__icon_volonteur {
    background-image: url("../img/valenturs-hover.svg");
  }

  .program__icon_religion {
    background-image: url("../img/religion-hover.svg");
  }

  .program__icon_study {
    background-image: url("../img/study-hover.svg");
  }
}

.button__program:focus {
  background: linear-gradient(to bottom right, $orange-color, $yellow-color);
  text-transform: lowercase;
  font-weight: 500;
  font-size: 16px;
  font-variant: small-caps;
  color: $white-color;
  opacity: 1;
  outline: none;
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);

  .program__icon_study {
    background-image: url("../img/study-focus.svg");
  }

  .program__icon_religion {
    background-image: url("../img/relidion-focus.svg");
  }

  .program__icon_business {
    background-image: url("../img/busines-focus.svg");
  }

  .program__icon_culture {
    background-image: url("../img/culture-focus.svg");
  }

  .program__icon_volonteur {
    background-image: url("../img/volonteur-focus.svg");
  }
}

.program__title {
  flex: 2;
  opacity: 0.87;
}

.program {
  width: 560px;
  flex-grow: 0;
  padding: 7px 0 0 65px;
  margin-top: 48px;
}

.program__description {
  opacity: 0.87;
  line-height: 26px;
}
