.record {
  background-image: url("../img/backpack.png"), url("../img/girl-flag-bg.png");
  background-position: left 135px, center;
  background-repeat: no-repeat;
  background-size: 147px 262px, cover;
  min-height: 679px;
  height: calc(100vw * 0.497071);
  border: 1px solid rgba(0, 0, 0, 0);
}

.record__container {
  width: 477px;
  height: 254px;
  margin: 209px auto auto 210px;
}

.record__description {
  margin-top: 29px;
  opacity: 0.87;
  line-height: 29px;
}

.record__form {
  border-radius: 80px;
  width: 476.5px;
  height: 59px;
  border: 2px solid #e3e3e3;
  margin-top: 60px;
}
