.reviews {
  background: url("../img/reviews-bg.png") center no-repeat;
  background-size: cover;
  min-height: 536px;
  height: calc(100vw * 0.47291);
  text-align: center;
}

.reviews__list {
  padding: 0;
  margin: 0;
}

.reviews__item {
  min-width: 1084px;
  margin: 8px 0 0 98px;
  height: 480px;
}

.review__photo {
  width: 364px;
  flex-grow: 0;
  height: 100%;
  mask: url("../img/mask-review.png") center center  / cover;
}

.review {
  width: 680px;
  flex-grow: 0;
  margin: 45px 0 0 40px;
  text-align: left;
  color: rgba(72, 72, 72, 0.74);

  .review__name {
    font-family: "Fira Sans", "Arial", sans-serif;
    font-style: normal;
  }

  .review__program {
    margin-top: 12px;

    .caption {
      color: $blue-color;
    }
  }

  .review__annotate {
    margin: 35px 0 16px;

    p {
      line-height: 1.8em;
      margin-bottom: 20px;
    }

    .more-detail {
      color: $blue-color;
      text-decoration: underline;
    }
  }
}

.reviews__footer {
  margin: -40px 0 0 503px;
}

.slider {
  width: 575px;
  text-align: left;
  font-size: 17px;
  color: rgba(72, 72, 72, 0.5);

  p {
    display: inline-block;
    margin-right: 20px;
  }

  .button__slider {
    width: 8px;
    height: 15px;
    padding: 0;
    border: 0;
    outline: 0;
    background: url("../img/button-slider.svg") center no-repeat;
  }

  .button__back {
    margin-right: 15px;
  }

  .button__forward {
    transform: rotate(180deg);
  }
}
