@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src:
    local("Fira Sans Bold"),
    url("../fonts/FiraSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src:
    local("Fira Sans Medium"),
    url("../fonts/FiraSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Fira Sans Regular"),
    url("../fonts/FiraSans.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src:
    local("Montserrat Medium"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
}
