@import "colors";
@import "fonts";
@import "blocks/base";
@import "blocks/informations";
@import "blocks/programs";
@import "blocks/record";
@import "blocks/conditions";
@import "blocks/life-israel";
@import "blocks/masaisrael";
@import "blocks/ask";
@import "blocks/reviews";
@import "blocks/details";
@import "blocks/dialog-request";
@import "blocks/heading";

html,
body {
  width: 100%;
  margin: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  min-height: 906px;
  height: calc(100vw * 0.66325);
  background-image: url("../img/girl.png"), url("../img/Israel.png"), url("../img/bg.png");
  background-size: cover, 75%, cover;
  background-position: center, center 28%, center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;
  font-weight: bold;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: calc(100% - 250px);
}

.text-promo {
  font-size: 24px;
  color: $white-color;
  margin-bottom: 32px;
  margin-top: 458px;
  letter-spacing: -0.02em;
}

.input {
  font-family: "Fira Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
}

.form-text,
.see-photo {
  padding: 0 0 0 40px;
  border: none;
  outline: none;
  appearance: none;
  width: 216px;
  vertical-align: middle;
}

.form-submit,
.see-photo {
  width: 216px;
  height: 59px;
  border: none;
  border-radius: 80px;
  background: linear-gradient(to bottom right, $orange-color, $yellow-color);
  color: $white-color;
}

.form-submit:hover,
.see-photo:hover {
  background: $yellow-color;
}

.form-submit:active,
.see-photo:active {
  background: $yellow-color;
  box-shadow: inset 2px 2px 5px $orange-color;
}

.see-photo {
  width: 230px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.see-photo > img {
  margin-right: 8px;
}

.navigation {
  display: flex;
  margin: 32px 110px 0 110px;
  align-items: center;
  text-transform: uppercase;
  color: $black-color;
}

.navigation-item {
  flex: auto;
}

.button-callOrder-container {
  flex: 1;
  text-align: right;
}

.button-phone-container {
  flex: 1;
  text-align: left;
}

.header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-callOrder {
  border-bottom: $black-color;
  font-size: 12px;
}

.button-phone {
  text-decoration: none;
  font-size: 15px;
  color: $black-color;
}

.social-network {
  list-style: none;
  display: flex;
  padding: 0;

  a {
    margin-right: 15px;
  }
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(72, 72, 72, 0.2);
  height: 72px;
  padding-left: 110px;
}

.copyright {
  margin-left: 383px;
  color: $black-color;
  opacity: 0.5;
  font-size: 12px;
  margin-right: 353px;
}

.caption {
  color: $blue-color;
}

