@import "blocks/constants";
@import "blocks/informations";
@import "blocks/programs";
@import "blocks/record";
@import "blocks/conditions";
@import "blocks/life-israel";
@import "blocks/masaisrael";

html,
body {
  width: 100%;
  margin: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  height: 100vh;
  background-image: url("../img/girl.png"), url("../img/Israel.png"), url("../img/bg.png");
  background-size: cover, 75%, cover;
  background-position: center, center 28%, center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;
  font-weight: bold;
}

.text-promo {
  font-size: 24px;
  color: $white-color;
  margin-bottom: 32px;
  margin-top: 458px;
  letter-spacing: -0.02em;
}

input {
  font-family: "Fira Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
}

#phone,
.see-photo {
  padding: 0 0 0 40px;
  border: none;
  outline: none;
  appearance: none;
  width: 216px;
  vertical-align: middle;
}

input[type="submit"],
.see-photo {
  width: 216px;
  height: 59px;
  border: none;
  border-radius: 80px;
  background: linear-gradient(to bottom right, $orange-color, $yellow-color);
  color: $white-color;
}

input[type="submit"]:hover,
.see-photo:hover {
  background: $yellow-color;
}

input[type="submit"]:active,
.see-photo:active {
  background: $yellow-color;
  box-shadow: inset 2px 2px 5px $orange-color;
}

h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: $blue-color;
  margin: 0;
}

h3 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 28px;
  color: $blue-color;
}

.see-photo {
  width: 230px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.see-photo > img {
  margin-right: 8px;
}

label {
  display: none;
}

nav {
  display: flex;
  margin: 32px 110px 0 110px;
  align-items: center;
  text-transform: uppercase;
  color: $black-color;
}

nav div {
  flex: auto;
}

.button-callOrder-container {
  flex: 1;
  text-align: right;
}

.button-phone-container {
  flex: 1;
  text-align: left;
}

.header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-callOrder {
  border-bottom: $black-color;
  font-size: 12px;
}

.button-phone {
  text-decoration: none;
  font-size: 15px;
  color: $black-color;
}
