@import "colors";
@import "fonts";
@import "blocks/base";
@import "blocks/informations";
@import "blocks/programs";
@import "blocks/record";
@import "blocks/conditions";
@import "blocks/life-israel";
@import "blocks/masaisrael";
@import "blocks/ask";
@import "blocks/reviews";
@import "blocks/details";
@import "blocks/dialog-request";
@import "blocks/heading";
@import "blocks/flex";
@import "blocks/text";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/form";

html,
body {
  width: 100%;
  margin: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  overflow-x: hidden;
}

.a {
  text-transform: uppercase;
  text-decoration: none;
  color: $black-color;
}

.see-photo > img {
  margin-right: 8px;
}

.navigation-item {
  flex: auto;
}

.header-logo {
  display: block;
  margin: auto;
}

.button-callOrder {
  border-bottom: $black-color;
  font-size: 12px;
}

.button-phone {
  text-decoration: none;
  font-size: 15px;
  color: $black-color;
}

.social-network {
  padding: 0;

  a {
    margin-right: 15px;
  }
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(72, 72, 72, 0.2);
  height: 72px;
  padding-left: 110px;
}

.copyright {
  margin-left: 383px;
  color: $black-color;
  opacity: 0.5;
  font-size: 12px;
  margin-right: 353px;
}

.caption {
  color: $blue-color;
}

